@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: "Impact";
  src: url("./assets/fonts/Impact.ttf");
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}